h1{
  font-family: cursive;
    text-align: center;
}
img{
    border:4px solid red;
    margin: 40px;
}
.container{
    width:100%;
    display:inline-block;
}
.left{
    
    width: 25%;
    height: 70px;
    float: left;
    margin: 10px;

}
.left a{
    color:brown;
    font: bold;
    line-height: 20px;
    
    
}

   .center a{
    color:darkgreen;
    font: bold;
    line-height: 20px;
       

       
}
